{% extends "ttt_app/base.html" %}

{% block header %}
<h1 class="cover-heading">
    {% if player_first == 'true' %}
    Player (X) vs. Perfect (O)
    {% else %}
    Player (O) vs. Perfect (X)
    {% endif %}
</h1>
{% endblock %}



{% block content %}
<div class="inner cover">

        <table>
            <tbody>
            <tr>
                {% for i in "123456789" %}

                <td class="button-container">
                    <button type="button" class="btn btn-info xobutton"
                           name="choice{{ forloop.counter0 }}">
                    </button>
                </td>
                {% if forloop.counter0 == 2 or forloop.counter0 == 5 %}
            </tr>
            <tr>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
            </tr>
            <tr>
                {% elif forloop.counter0 != 8 %}
                <td><div class="vbreak"></div></td>
                {% endif %}
                {% endfor %}
            </tr>
            </tbody>
        </table>

</div>
{% endblock %}
