{% extends "ttt_app/base.html" %}

{% block header %}
<h1 class="cover-heading">
    {% if player_first == 'true' %}
    Player (X) vs. Perfect (O)
    {% else %}
    Player (O) vs. Perfect (X)
    {% endif %}
</h1>
{% endblock %}



{% block content %}
{% load staticfiles %}

<div class="inner cover">

        <table>
            <tbody>
            <tr>
                {% for i in "012345678" %}

                <td class="button-container" id="position{{i}}">
                    <button type="button" class="btn btn-info xobutton">
                    </button>
                </td>
                {% if forloop.counter0 == 2 or forloop.counter0 == 5 %}
            </tr>
            <tr>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
            </tr>
            <tr>
                {% elif forloop.counter0 != 8 %}
                <td><div class="vbreak"></div></td>
                {% endif %}
                {% endfor %}
            </tr>
            </tbody>
        </table>

</div>

<script type="text/javascript">
    var playerFirst = {{player_first}};
    var advanceURL = "{{advance_url}}";
    console.log(advanceURL);
</script>
<script src="{% static 'ttt_app/js/game.js' %}" type="text/javascript"></script>
{% endblock %}
