{% extends "ttt_app/base.html" %}

{% block header %}
<h1 class="cover-heading">
    {% if player_first == 'true' %}
    Player (X) vs. Perfect (O)
    {% else %}
    Player (O) vs. Perfect (X)
    {% endif %}
</h1>
{% endblock %}



{% block content %}
<div class="inner cover">

    <form method="POST" action="/play"> {% csrf_token %}
        <input type="hidden" name="player_first" value="{{ player_first }}">
        <input type="hidden" name="board_str" value="{{ board_str }}">
        <table>
            <tbody>
            <tr>
                {% for play in board_str %}
                {% if play == 'x' or play == 'o' %}
                <td class="xo">{{ play|upper }}</td>
                {% else %}
                <td class="button-container">
                    <input type="submit" class="btn btn-info xobutton" value="{{ next_play }}"
                           name="choice{{ forloop.counter0 }}"
                            {% if result %}
                            disabled
                            {% endif %}>
                </td>
                {% endif %}
                {% if forloop.counter0 == 2 or forloop.counter0 == 5 %}
            </tr>
            <tr>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
            </tr>
            <tr>
                {% elif forloop.counter0 != 8 %}
                <td><div class="vbreak"></div></td>
                {% endif %}
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </form>
</div>
{% endblock %}
