
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    
    <title>3T</title>
    <!-- Font -->
    <link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'ttt_app/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'ttt_app/css/custom.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">3T</h3>
              <ul class="nav masthead-nav navbar-static-top">
                <li><a href="#">Stats</a></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Player (X) vs. Perfect (O).</h1>
            <form method="POST" action="/play"> {% csrf_token %}
                <input type="hidden" name="player_first" value="{{ player_first }}">
                <input type="hidden" name="board_str" value="{{ board_str }}">
                <table>
                    <tbody>
                    <tr>
                    {% for play in board_str %}
                        {% if play == 'x' or play == 'o' %}
                        <td class="xo">{{ play|upper }}</td>
                        {% else %}
                        <td class="button-container">
                            <input type="submit" class="btn btn-info xobutton" value="{{ next_play }}"
                               name="choice{{ forloop.counter0 }}">
                        </td>
                        {% endif %}
                        {% if forloop.counter0 == 2 or forloop.counter0 == 5 %}
                    </tr>
                    <tr>
                        <td><hr></td>
                        <td><hr></td>
                        <td><hr></td>
                        <td><hr></td>
                        <td><hr></td>
                    </tr>
                    <tr>
                        {% elif forloop.counter0 != 8 %}
                        <td><div class="vbreak"></div></td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </form>
          </div>

          <div class="mastfoot">
            <div class="inner">
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
